@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.color-red {
  color: #b65560;
}

.font-logo {
  font-family: "Pacifico", cursive;
}

.features-card {
  border-radius: 40px;
  border: none;
}

.features-card .feature-image{
  padding: 30px
}

.features-card img {
  /* border-radius: 40px 40px 0 0; */
  /* display: none; */
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 45%);
}

.features-card .card-body{
  padding: 30px;
}

.features-card .btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  line-height: 1.5;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
}


.features-card .feature-description {
  padding: 1em;
}

@media (min-width: 400px) {
  .features-card .feature-description {
    padding: 2em;
  }
}

@media (min-width: 600px) {
  .features-card .feature-description {
    padding: 8em;
  }
}



.feature-icon {
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.feature-icon img {
  width: 100%;
  opacity: 70%;
}

.price small {
  font-size: 40%;
}

.vcard .vcard-image img {
  border-radius: 50%;
}

.vcard .vcard-description {
  padding-top: 5px
}

.vcard .vcard-description h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.vcard .vcard-description a {
  color: #c6c6c6;
}

.img-bw {
  filter: grayscale(100%);
}


.read-more:before {
  z-index: 0;
}

.untree_co-hero .heading {
  font-size: 60px;
}


.service-icon i {
  padding: 10px 10px;
}

@media (max-width: 991.98px) {
  .untree_co-hero ul {
    text-align: left;
  }
}
