@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.color-red {
  color: #b65560;
}

.font-logo {
  font-family: "Pacifico", cursive;
}

.features-card {
  border-radius: 40px;
  border: none;
}

.features-card img {
  /* border-radius: 40px 40px 0 0; */
  /* display: none; */
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 45%);
}

.features-card .card-body{
  padding: 30px;
}

.features-card .btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  line-height: 1.5;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
}

.features-card .feature-description {
  padding: 8em;
}

.feature-icon {
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.feature-icon img {
  width: 100%;
  opacity: 70%;
}

.price small {
  font-size: 40%;
}

.vcard .vcard-image img {
  border-radius: 50%;
}

.vcard .vcard-description {
  padding-top: 5px
}

.vcard .vcard-description h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.vcard .vcard-description a {
  color: #c6c6c6;
}

.img-bw {
  filter: grayscale(100%);
}
